input[type="range"].isOn {
  -webkit-appearance: none;
  background-color: #ffffff44;
  border-radius: 1rem;
  overflow: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--color-purple);
  }

  &::-moz-range-thumb {
    background-color: none;
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--color-purple);
  }
}

input[type="range"].isOff {
  -webkit-appearance: none;
  background-color: #00000044;
  border-radius: 1rem;
  overflow: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--color-dark);
  }

  &::-moz-range-thumb {
    background-color: none;
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--color-dark);
  }
}

input[type="range"].isUgly {
  -webkit-appearance: none;
  background-color: #33333344;
  border-radius: 1rem;
  overflow: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--color-dark);
  }

  &::-moz-range-thumb {
    background-color: none;
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #333333;
  }
}
