input[type="range"].solid {
  background-color: var(--color-light);
}

input[type="range"].solid::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem var(--color-blue);
}
