@import 'tailwindcss';
@plugin "daisyui";
@tailwind utilities;

@font-face {
  font-family: 'Alte Haas Grotesk Regular';
  src: url('./assets/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alte Haas Grotesk Bold';
  src: url('./assets/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* fonts */
  --font-alte-haas-regular: 'Alte Haas Grotesk Regular', Verdana, Arial,
    sans-serif;
  --font-alte-haas-bold: 'Alte Haas Grotesk Bold', Verdana, Arial, sans-serif;
  --font-poppins-regular: 'Poppins Regular', Verdana, Arial, sans-serif;
  --font-poppins-bold: 'Poppins Bold', Verdana, Arial, sans-serif;

  /* text */
  --text-default: 1rem;
  --text-nav: 1.5rem;
  --text-sidescroll-nav: 0.75rem;
  --text-headline: 1rem;
  --text-label: 1rem;
  --text-device-sm: 0.625rem;
  --text-device-md: 0.75rem;
  --text-icon-sm: 0.5rem;
  --text-icon-md: 1rem;

  /* colors */
  --light: 248, 248, 248;
  --dark: 29, 28, 27;
  --uwu: 149, 159, 163;
  --inactive: 228, 228, 228;
  --orange: 239, 133, 85;
  --red: 190, 55, 95;
  --purple: 96, 36, 108;
  --blue: 38, 51, 129;
  --green: 28, 165, 142;
  --yellow: 241, 202, 51;
  --green: 28, 165, 142;

  --color-light: rgba(var(--light), 1);
  --color-dark: rgba(var(--dark), 1);
  --color-uwu: rgba(var(--uwu), 1);
  --color-inactive: rgba(var(--inactive), 1);
  --color-orange: rgba(var(--orange), 1);
  --color-red: rgba(var(--red), 1);
  --color-purple: rgba(var(--purple), 1);
  --color-blue: rgba(var(--blue), 1);
  --color-green: rgba(var(--green), 1);
  --color-yellow: rgba(var(--yellow), 1);
  --color-green: rgba(var(--green), 1);

  /* shadows */
  --shadow-alpha: 1

  /* breakpoints */

  /* spacing */
  --spacing-100: 0.25rem;
  --spacing-200: 0.375rem;
  --spacing-300: 0.5rem;
  --spacing-400: 0.625rem;
  --spacing-500: 0.75rem;
  --spacing-600: 0.825rem;
  --spacing-700: 1rem;
  --spacing-800: 1.25rem;
  --spacing-900: 1.5rem;

  /* shadow */
  --shadow-active: 0px 4px 16px 0px rgba(48, 46, 41, 0.2);

  /* radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2rem;
}

h1 {
  @apply font-bold text-default text-[1.5rem];
}

body {
  @apply bg-dark text-dark font-normal text-default;
}

.btn {
  @apply rounded-sm shadow-none border-none py-4 px-6;
}

.btn-lg {
  @apply rounded-md font-bold text-lg border-none py-6 px-8;
}

.btn-xl {
  @apply px-6 py-4 text-xl font-bold bg-dark text-white rounded-md cursor-pointer duration-150 hover:bg-purple disabled:pointer-events-none disabled:bg-uwu;
}

.btn-full {
  @apply w-full px-4 py-4 text-xl font-bold text-white rounded-md cursor-pointer duration-150 disabled:pointer-events-none disabled:bg-uwu;
}

.btn-primary {
  @apply bg-red hover:bg-purple text-white;
}

.btn-secondary {
  @apply bg-dark hover:bg-dark/70 text-white;
}

.flex-center {
  @apply flex items-center justify-center;
}

.text-meta {
  @apply text-device-md font-bold text-uwu;
}

.text-h2 {
  @apply text-headline font-bold text-lg;
}

@layer utilities {
  .font-bold {
    @apply font-poppins-bold;
  }

  .font-normal {
    @apply font-poppins-regular;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* New Button */
@keyframes fly-out-0 {
  from {
    transform: translate(50px, 50px);
  }
  to {
    transform: translate(0, -10px);
  }
}

@keyframes fly-out-1 {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(0, -10px);
  }
}

@keyframes fly-out-2 {
  from {
    transform: translate(-50px, 50px);
  }
  to {
    transform: translate(0, -10px);
  }
}

.animate-fly-out-0 {
  animation: fly-out-0 0.5s forwards;
}

.animate-fly-out-1 {
  animation: fly-out-1 0.5s forwards;
}

.animate-fly-out-2 {
  animation: fly-out-2 0.5s forwards;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

/* Device Box */

.device-box-active {
  --p: 0%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-light) 0%
  );
}

.device-box-inactive {
  --p: 100%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-light)
  );
}

.device-box-dashboard-inactive {
  --p: 100%;
  transition: --p 0.5s;
  background: linear-gradient(
    0deg,
    var(--color-inactive) var(--p),
    var(--color-light)
  );
}

.device-box-lights {
  --p: 0%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-orange) 0%
  );
}

.device-box-heat {
  --p: 0%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-red) 0%
  );
}

.device-box-entertainment {
  --p: 0%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-purple) 0%
  );
}

.device-box-air {
  --p: 0%;
  transition: --p 0.5s;
  background: linear-gradient(
    var(--color-inactive) var(--p),
    var(--color-green) 0%
  );
}

.shadow-green {
  box-shadow: 0px 4px 16px 0px  rgba(28, 165, 142, .7);
}

.shadow-orange {
  box-shadow: 0px 4px 16px 0px  rgba(239, 133, 85, .8);
}

.shadow-red {
  box-shadow: 0px 4px 16px 0px  rgba(190, 55, 95, .7);
}

.shadow-purple {
  box-shadow: 0px 4px 16px 0px  rgba(96, 36, 108, .7);
}

.shadow-blue {
  box-shadow: 0px 4px 16px 0px  rgba(38, 51, 129, .7);
}

/* New Device */
@keyframes sonarWaveAnimation {
  from {
    width: 0;
    height: 0;
    opacity: 0.4;
  }
  to {
    width: 500%;
    height: 500%;
    opacity: 0;
  }
}

/* Fan Animation */

@keyframes fanAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-fan {
  animation: fanAnimation 2.5s infinite linear;
}

/* Light Animation */

@keyframes lightAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.animate-light {
  animation: lightAnimation 2.5s infinite linear;
}

