input[type="range"].solid {
  -webkit-appearance: none;
  background-color: #ffffff44;
  border-radius: 1rem;
  overflow: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: var(--color-light);
    box-shadow: -20rem 0 0 20rem var(--color-light);
  }

  &::-moz-range-thumb {
    border: none;
    height: 40px;
    width: 40px;
    background: red;
    box-shadow: -20rem 20rem 0 0rem var(--color-light);
  }

  &.vertical::-moz-range-thumb {
    height: 80px;
    width: 40px;
    background: red;
  }
  &.vertical::-webkit-slider-thumb {
    height: 80px;
    width: 40px;
    background: red;
  }
}

input[type="range"].gradient {
  -webkit-appearance: none;
  background: linear-gradient(to right, #79adfb, #fafaf9, #ff9233);
  border-radius: 1rem;
  padding: 0 20px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--color-light);
    box-shadow: 0 0 7px 3px rgba(var(--dark), 0.3);
    margin-top: -5px;
    margin-bottom: -5px;
  }

  &::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--color-light);
    box-shadow: 0 0 7px 3px rgba(var(--dark), 0.3);
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

input[type="range"].uggo {
  -webkit-appearance: none;
  width: 100%;
  background: rgba(var(--light), 0.5);
  border-radius: 12.5px;
  outline: none;
  box-shadow: 0rem 0 2rem rgba(var(--dark), 0.3);
  overflow: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 50px;
    background: var(--color-dark);
    border: none;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: var(--color-dark);
    border: none;
    cursor: pointer;
  }
}
